__pycache__/
*.py[cod]
*$py.class

.env
*.env
xiaosan.env
xiaosan.env

.DS_Store

static/generated_voice/*.wav
static/generated_song/**
!static/generated_song/.gitkeep
spica_data/*.sqlite3
spica_data/*.sqlite3-*

agent_tools/tts/vendors/GPT-SoVITS-v2pro-20250604-nvidia50/*
!agent_tools/tts/vendors/GPT-SoVITS-v2pro-20250604-nvidia50/.gitkeep
